.container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* 标题输入框样式 */
.title-input {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 3px solid #ddd;
}

.title-input label {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    /* 字体为楷体 */
    font-family: 'KaiTi', sans-serif;
    /* 文字加粗 */
    font-weight: bold;
    text-align: center;
}

/* 博客内容样式 */
#md-content {
    /* 设置容器的内边距 */
    padding: 10px;
    /* 添加阴影 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 设置圆角 */
    border-radius: 8px;
    /* 设置字体 */
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

/* 标题样式 */
#md-content h1,
#md-content h2,
#md-content h3,
#md-content h4,
#md-content h5,
#md-content h6 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* 段落样式 */
#md-content p {
    margin-bottom: 20px;
}

/* 链接样式 */
#md-content a {
    color: #007bff;
    text-decoration: none;
}

#md-content a:hover {
    text-decoration: underline;
}

/* 列表样式 */
#md-content ul,
#md-content ol {
    margin: 20px 0;
    padding-left: 40px;
}

/* 代码块样式 */
#md-content pre {
    background-color: #272822;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
}

#md-content code {
    background-color: #f1f1f1;
    padding: 2px 4px;
    border-radius: 4px;
}