/* 整体背景样式 */
.container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* 标题输入框样式 */
.title-input {
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 3px solid #ddd;
}

.title-input label {
    font-size: 42px;
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    /* 字体为楷体 */
    font-family: 'KaiTi', sans-serif;
    /* 文字加粗 */
    font-weight: bold;
    text-align: center;
}

/* 博客信息样式 */
.info {
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

}

.blog-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
}

.blog-info span {
    margin-right: 10px;
}

/* 作者链接样式 */
.author-link {
    cursor: pointer;
}

.author-link:hover {
    color: #1296db;
    text-decoration: none;
}

/* 博客标签样式 */
.blog-tags span {
    font-size: 16px;
}

/* 制作icon图标 */
#author::before {
    /* 使用 Unicode 字符作为图标 */
    content: '👤';
    /* 图标与文本之间的间距 */
    margin-right: 5px;
    /* 调整图标大小 */
    font-size: 19px;
}

#time::before {
    content: '🕒';
    margin-right: 5px;
    font-size: 19px;
}

#views::before {
    content: '👁️';
    margin-right: 5px;
    font-size: 19px;
}

#likes::before {
    content: '👍';
    margin-right: 5px;
    font-size: 19px;
}

.blog-tags::before {
    content: '🏷️';
    margin-right: 5px;
    font-size: 19px;
}

/* 已经点赞 */
.liked::before {
    content: '👍';
}