.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 600px;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-footer {
    margin-top: 20px;
    text-align: center;
}

.warning {
    margin-top: 20px;
    text-align: center;
    /* 设置文字颜色为红色 */
    color: red;
    /* 设置文字加粗 */
    font-weight: bold;
}

.user-info {
    display: flex;
    /* 垂直排列 */
    flex-direction: column;
    /* 水平居中 */
    margin: 0 auto;
    /* 内边距 */
    padding: 10px;
    /* 边框 */
    border: 1px solid #ccc;
    /* 圆角 */
    border-radius: 5px;
    /* 背景颜色 */
    background-color: #f9f9f9;
}

.user-info p,
.user-info a {
    margin: 10px 0;
    /* 设置上下外边距 */
}