.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 600px;
}

.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.form-footer {
    margin-top: 20px;
    text-align: center;
}

p.warning {
    color: red;
    /* 设置文字颜色为红色 */
    font-weight: bold;
    /* 设置文字加粗 */
}