/* 整体样式 */
body {
  /* 设置为灰色背景  */
  background-color: #f0f0f0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0px;
}

/* 主体样式 */
main {
  /* 设置容器的外边距向下移动60px */
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 底部样式 */
footer {
  /* 离上面的距离 */
  margin-top: 20px;
  /* 添加顶部边框 */
  border-top: 1px solid #ccc;
  /* 添加阴影 */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  /* 设置背景颜色 */
  background-color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
  text-indent: 20px;
}

/* 用户头像样式 */
.user-avatar {
  /* 设置自动宽度 */
  width: 50px;
  /* 设置固定高度 */
  height: 50px;
  /* 圆角效果 */
  border-radius: 50%;
  /* 边框 */
  border: 1px solid #ddd;
  /* 阴影效果 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* 确保图片按比例填充 */
  object-fit: cover;
}