<!DOCTYPE html>
<html lang="zh-cn">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}简易博客{% endblock %}</title>
  <!-- 引入自定义的css样式 -->
  <link rel="stylesheet" href="/static/css/styles.css" />
  <!-- 引入layui样式和js -->
  <link rel="stylesheet" href="/layui/css/layui.css" />
  <script src="/layui/layui.js"></script>
  <!-- 用户头像js -->
  <script src="/static/js/user-avatar.js"></script>
  <!-- 禁止缓存 -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
</head>

<!-- 头部 -->
<div class="layui-layout layui-layout-admin">
  <header class="layui-header">
    <!-- logo -->
    <a href="/index" class="layui-logo layui-hide-xs layui-bg-black">简易博客</a>
    <!-- 头部导航 -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item">
        <a href="/index">
          <i class="layui-icon layui-icon-home"></i> 首页
        </a>
      </li>
      <li class="layui-nav-item">
        <a href="/blog_search">
          <i class="layui-icon layui-icon-search"></i> 搜索博客
        </a>
      </li>
      <li class="layui-nav-item">
        <a href="/tag/search">
          <i class="layui-icon layui-icon-search"></i> 搜索标签
        </a>
      </li>
      <li class="layui-nav-item">
        <a href="/about">
          <i class="layui-icon layui-icon-about"></i> 关于
        </a>
      </li>
    </ul>
    <!-- 右侧导航 -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
        <a href="javascript:;" id="user-avatar">
          <img src="/img/user_avatar" id="user-avatar-show" class="user-avatar" alt="用户头像">
          <span id="user-name" style="font-size: 28px;">未登入</span>
          <i class=" layui-icon layui-icon-down layui-nav-more"></i>
        </a>
        <dl class="layui-nav-child layui-anim layui-anim-upbit">
          <dd><a href="javascript:;" id="user-profile">
              <i class="layui-icon layui-icon-username"></i> 个人中心
            </a></dd>
          <dd><a href="/user_login" id="user-login">
              <i class="layui-icon layui-icon-login"></i> 登入
            </a></dd>
          <dd><a href="/user_register" id="user-register">
              <i class="layui-icon layui-icon-register"></i> 注册
            </a></dd>
          <dd><a href="/user_logout" id="user-logout">
              <i class="layui-icon layui-icon-logout"></i> 登出
            </a></dd>
        </dl>
      </li>
    </ul>
  </header>
</div>

<body>
  <!-- 主体内容 -->
  <main>
    {%block content %}{% endblock %}
  </main>
</body>

<footer>
  <p>&copy; 2024 博客网站底部</p>
</footer>

</html>