{% extends "base.html" %}

{% block title %} {{blog_dict.title}} {% endblock %}

{% block content %}

<!-- Mackdown解析器 -->
<script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
<!-- 博客样式 -->
<link rel="stylesheet" href="/static/css/blog.css">
<!-- 导入Markdown样式 -->
<link rel="stylesheet" href="/static/css/github-markdown-light.css">

<div class="container">
  <!-- 博客标题 -->
  <div class="title-input">
    <label id="title">{{ blog_dict.title }}</label>
  </div>
  <!-- 博客信息 -->
  <div class="info">
    <!-- 博客信息,包括作者、发布时间、阅读量、点赞数 -->
    <div class="blog-info">
      <span id="author" class="author-link" onclick="window.location.href='/author/{{ blog_dict.username }}'">作者：{{
        blog_dict.nickname
        }}</span>
      <span id="time">发布时间：{{ blog_dict.created_at }}</span>
      <span id="views">阅读量：{{ blog_dict.views }}</span>
      <span id="likes">点赞数：{{ blog_dict.likes }}</span>
    </div>
    <!-- 博客标签 -->
    <div class="blog-tags">
      <span>文章标签：</span>
      {% for tag in blog_dict.tags %}
      <span class="layui-btn layui-btn-sm">{{ tag }}</span>
      {% endfor %}
    </div>
  </div>
  <!-- 博客内容 -->
  <div id="md-content" class="markdown-body">
    <!-- Markdown内容 -->
    <input type="hidden" id="hidden-md-content" value="{{ blog_dict.content }}">
  </div>
  <!-- 点赞按钮 -->
  <button class="layui-btn layui-btn-primary layui-btn-sm" onclick='likeBlog("{{ blog_dict.blog_id }}")'>
    <i class="layui-icon layui-icon-praise"></i> 点赞
  </button>
  <!-- 评论区 -->
</div>

<script>
  layui.use('layer', function () {
    var layer = layui.layer;

    function likeBlog(button, blogId) {
      // 发送 AJAX 请求到服务器
      fetch(`/like_blog?blog_id=${blogId}`)
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            // 使用 Layui 的消息提示功能
            layer.msg('点赞成功', { icon: 1 });
            // 改变图标
            var icon = button.querySelector('.layui-icon');
            icon.classList.remove('layui-icon-praise');
            icon.classList.add('layui-icon-praise-fill');
          } else {
            layer.msg('点赞失败: ' + data.message, { icon: 2 });
          }
        })
        .catch(error => {
          layer.msg('请求失败: ' + error, { icon: 2 });
        });
    }
  });
  // 获取Markdown文本
  const markdownText = document.getElementById('hidden-md-content').value;

  // 将Markdown文本转换为HTML
  const htmlContent = marked(markdownText);

  // 将转换后的HTML插入到网页中
  document.getElementById('md-content').innerHTML = htmlContent;

  // 为生成的HTML中的pre标签添加属性
  document.querySelectorAll('#md-content code').forEach((block) => {
    block.classList.add('layui-code', 'code-demo');
  });

  // 初始化Layui的代码块美化功能
  layui.use('code', function () {
    layui.code({
      elem: '.code-demo'
    });
  });
</script>
{% endblock %}