{% extends "base.html" %}

{% block title %} {{blog_dict.title}} {% endblock %}

{% block content %}

<!-- Mackdown解析器 -->
<script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
<!-- 博客样式 -->
<link rel="stylesheet" href="/static/css/blog.css">

<div class="container">
  <!-- 博客标题 -->
  <div class="title-input">
    <label id="title">{{ blog_dict.title }}</label>
  </div>
  <!-- 博客内容 -->
  <div id="md-content"></div>
</div>

<script>
  // 获取Markdown文本
  const markdownText = `{{ blog_dict.content }}`;
  // 将Markdown文本转换为HTML
  const htmlContent = marked(markdownText);
  // 将转换后的HTML插入到网页中
  document.getElementById('md-content').innerHTML = htmlContent;
</script>
{% endblock %}