{% extends "base.html" %}

{% block title %}首页 - 博客网站{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/blog-show.css">

<div>
    <!-- 导航栏 -->
    <div class="container-breadcrumb">
        <span class="layui-breadcrumb custom-breadcrumb" lay-separator="|">
            <a href="/index">推荐</a>
            <a href="/index/new">最新</a>
            <a href="/index/hot">热门</a>
            <a href="/index/best">精选</a>
            <!-- 最多标签跳转连接 -->
            {% for tag in tags_list %}
            <a href="/tag/search?tag={{ tag }}">{{ tag }}</a>
            {% endfor %}
        </span>
    </div>

    <!-- 博客类型 -->
    <div id="hidden-div">
        <input type="hidden" id="blog_type" value="{{ blog_type }}">
    </div>
    <div class="layui-container">
        <div class="layui-row" id="show_blogs">
            <!-- 博客列表 -->
        </div>
    </div>
</div>

<!-- 导入显示博客列表的js -->
<script src="/static/js/index-blog-show.js"></script>

{% endblock %}