{% extends "base.html" %}

{% block title %}首页 - 博客网站{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/blog-show.css">

<div>
    <!-- 导航栏 -->
    <div class="container-breadcrumb">
        <span class="layui-breadcrumb custom-breadcrumb" lay-separator="|">
            <a href="/index">推荐</a>
            <a href="/index/new">最新</a>
            <a href="/index/hot">热门</a>
            <a href="/index/best">精选</a>
        </span>
    </div>

    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-card blog-card" onclick="window.location.href='/blog/1'">
                <div class="layui-card-header">
                    <h2 class="blog-title">博客标题</h2>
                </div>
                <div class="layui-card-body">
                    <div class="blog-meta">
                        <span><i class="layui-icon layui-icon-read"></i> 阅读量</span>
                        <span><i class="layui-icon layui-icon-praise"></i> 点赞量</span>
                        <span><i class="layui-icon layui-icon-username"></i> 博客作者</span>
                    </div>
                    <div class="blog-content">
                        博客内容预览……
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}