{% extends "base.html" %}

{% block title %} {{ user_dict.nickname }} 的博客页面 {% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/css/login.css">
<link rel="stylesheet" href="/static/css/blog-show.css">

<div class="layui-container">
    <div class="layui-row">
        <a href="/user/{{ user_dict.username }}" class="layui-btn layui-btn-normal top-left-button">
            <i class="layui-icon layui-icon-return"></i> 返回用户中心
        </a>
        <div class="layui-col-md12">
            <h1 class="layui-bg-gray" style="padding: 20px;">
                <i class="layui-icon layui-icon-username" style="font-size: 28px; color: #1e9fff;"></i>
                你好，{{ user_dict.nickname }}！
            </h1>
            <div class="user-info layui-card">
                <div class="layui-card-header">
                    <i class="layui-icon layui-icon-user" style="font-size: 20px; color: #1e9fff;"></i>
                    {{ user_dict.nickname }} 的创作中心
                </div>
                <div class="layui-card-body">
                    <a href="/user/{{ user_dict.username }}/blog/write"
                        class="layui-btn layui-btn-primary layui-btn-lg">
                        <i class="layui-icon layui-icon-edit"></i> 写博客
                    </a>
                    {% if user_dict.is_forbid %}
                    <button class="layui-btn layui-btn-danger layui-btn-lg" id="is_forbid_button">
                        <i class="layui-icon layui-icon-close"></i> 禁言中
                    </button>
                    <script>
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            // 点击禁言按钮提示
                            document.getElementById('is_forbid_button').addEventListener('click', function () {
                                layer.alert('由于您的违规操作，您已被平台禁言<br>无法创作公开博客，也无法修改公开博客的内容<br>禁言结束时间：{{ user_dict.forbid_end_time }}<br>剩余禁言时间：{{ user_dict.forbid_remaining_time }}', { icon: 2, title: '禁言提示' });
                            });

                        });
                    </script>
                    {% endif %}
                    <p>
                        点击已经创作的博客，跳转修改页面进行修改内容或公开博客
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- 显示用户创作的博客 -->
    <div class="layui-row" id="show_blogs">
        <!-- 博客列表 -->
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        layui.use(['layer', 'flow'], function () {
            var layer = layui.layer;
            var flow = layui.flow;
            // 获取用户创作的博客
            const username = '{{ user_dict.username }}';
            const count = 10; // 每页显示的博客数量
            const is_all = true; // 是否获取全部博客
            // 初始化流加载
            flow.load({
                elem: '#show_blogs', // 流加载容器
                done: function (page, next) { // 执行下一页的回调
                    // page会自动从1开始，每次递增1
                    fetchBlogList(username, (page - 1) * count, count, is_all, next);
                }
            });
            // 获取博客列表
            async function fetchBlogList(username, start = 0, count = 10, is_all = false, next) {
                try {
                    // 构建请求URL
                    const url = new URL(`/user_blog_list/${username}`, window.location.origin);
                    url.searchParams.append('start', start);
                    url.searchParams.append('count', count);
                    url.searchParams.append('is_all', is_all);
                    // 发送请求获取博客列表
                    const response = await fetch(url);
                    // 判断响应是否成功
                    if (!response.ok) {
                        layer.msg('获取博客列表失败', { icon: 2 });
                        return;
                    }
                    // 获取博客列表,json()格式化响应数据
                    const blogList = await response.json();
                    // 使用map()方法遍历blogList数组，生成的HTML内容
                    const lis = blogList.map(blog => createBlogCard(blog)).join('');
                    // 调用next()方法加载下一页，如果加载页数不满count，判断为最后一页
                    next(lis, blogList.length === count);
                } catch (error) {
                    // 提示错误信息
                    layer.msg('获取博客列表失败', { icon: 2 });
                }
            }

            // 创建博客卡片
            function createBlogCard(blog) {
                return `
                <div class="layui-card blog-card"">
                    <div class="layui-card-header">
                        <h2 class="blog-title">${blog.title}</h2>
                    </div>
                    <div class="layui-card-body">
                        <div class="blog-meta">
                            <span><i class="layui-icon layui-icon-read"></i> ${blog.views} 阅读量</span>
                            <span><i class="layui-icon layui-icon-praise"></i> ${blog.likes} 点赞量</span>
                            <span><i class="layui-icon layui-icon-username"></i> ${blog.nickname}</span>
                            ${blog.is_public ? '' : '<span style="color: red;"><i class="layui-icon layui-icon-close"></i> 未公开</span>'}
                        </div>
                        <div class="blog-button" style="text-align: right;">
                            ${blog.is_public ? `<button class="layui-btn layui-btn-primary layui-btn-sm" onclick="window.location.href='/blog/${blog.blog_id}'">查看博客</button>` : ""}
                            <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="window.location.href='/user/${blog.username}/blog/revise/${blog.blog_id}'">编辑博客</button>
                        </div>
                        <div class="blog-content">
                            ${blog.content}
                        </div>
                    </div>
                </div>
                `;
            }
        });
    });
</script>

{% endblock %}