{% extends "base.html" %}

{% block title %} 写博客 {% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/write_blog.css">
<script src="/static/js/write_blog.js"></script>
<!-- 导入Markdown样式 -->
<link rel="stylesheet" href="/static/css/github-markdown-light.css">

<div class="container">
    <!-- 输入标题 -->
    <div class="title-input">
        <label for="title">标题：</label>
        <input id="title" type="text" placeholder="输入标题，最多50字符" maxlength="50">
    </div>
    <!-- 显示内容 -->
    <div class="write-blog">
        <!-- 编辑器 -->
        <div class="editor">
            <textarea id="markdown_content" placeholder="在这里写你的博客内容...使用 Markdown 语法"></textarea>
        </div>

        <!-- 博客内容 -->
        <div class="preview">
            <div id="md-content" class="markdown-body preview-show">
                <div style="user-select: none;">预览内容将显示在这里</div>
            </div>
        </div>
    </div>
    <!-- 添加标签 -->
    <div class="tag-input">
        <label for="tag">标签：</label>
        <input id="tags" type="text" placeholder="添加标签，用逗号隔开，至少1个标签">
    </div>
    <!-- 发布草稿按钮 -->
    <div class="button-group">
        <button class="save" onclick="submitBlog(false)">保存草稿</button>
        <button class="publish" onclick="submitBlog(true)">发布内容</button>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
<script>
    const textarea = document.querySelector('.editor textarea');
    // 监听textarea的输入事件
    textarea.addEventListener('input', () => {
        const markdownText = textarea.value; // 获取Markdown文本
        // 将转换后的HTML插入到网页中
        document.getElementById('md-content').innerHTML = marked(markdownText);
        // 为生成的HTML中的pre标签添加属性
        document.querySelectorAll('#md-content code').forEach((block) => {
            block.classList.add('layui-code', 'code-demo');
        });

        // 初始化Layui的代码块美化功能
        layui.use('code', function () {
            layui.code({
                elem: '.code-demo'
            });
        });
    });
</script>

{% endblock %}